<div class="container">
  <div class="row">
    <div id="index" class="col-md-12 card shadow-height-1 top-spacing" style="display:none;">
      <div class="row">
        <div class="col-md-12">
          <h1>GSHD</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <div class="alert alert-danger" role="alert" style="display:none;" id="signup-errors"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Tell us a little about you</h2>
          <form action="" class="form signup-form" id="signup-form">
            <input type="text" placeholder="What should we call you?" id="signup-name">
            <input type="email" placeholder="What's your email address?" id="signup-email">
            <input type="password" placeholder="What would you like your password to be?" id="signup-password">
            <input type="submit" value="Sign up!" class="btn btn-bx" id="submit">
          </form>
        </div>
        <div class="col-md-6 text-center">
          <h2>Your profile picture</h2>
          <img src="" alt="Profile picture" class="data-gravatar-img" height="80">

          <div id="profile-picture-help" style="display:none;">
            <hr>
            <p>Still got the default?</p>
            <button class="btn btn-bx">Why not take a picture</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
